*{

    margin: 0;
    
    padding:0;
    

    }
    
    body{
    
    background:url(../imagenes/fondo.jpg);
    background-size:contain;
    
    }
    header, .main, footer{
    
    
        width: 70%;
        max-width:1000px ;
        margin:20px auto;
        font-family: Arial, Helvetica, sans-serif;
      
        
       
    }
           
            
            
            header h1{
            
            
            background:#fff;
            text-align: center;
            padding: 15px;
            border-style: ridge;
            border-color: rgb(81, 238, 217);
            
            
            }
            
            h2{
            
            
            text-align: center;
            padding: 15px;
            font-size: 30px;
            font-weight: bold;
            border-style: inset;
            text-transform: uppercase;
        
            }
            h3{
            
            
                text-align: center;
                padding: 10px;
                font-size: 25px;
                font-weight: bold;
                border-style: ridge;
                width: 37%;
                margin: auto;
                border-color: rgb(81, 238, 217);
                
                
            
                }
           
                h4{

                        text-align: center;
                    font-weight: bold;

                }
        
    
        .main .articles{
    
            width: 100%;
            float: left; 
            border-style: ridge;
            background: white;
            border-color: rgb(81, 238, 217);
            
            
            }
            .main .articles article{
                padding: 20px;
                background: white;
                margin-bottom: 20px;
                
                }
    
                div {       
                    
                    padding: 20px;
    
                }

                div img{


                    display: block;
                    margin: auto;

                }

                
    
                .mecatronica, .js, .ia, .deep, .machine, .IOT,  .rm, .blockchain, .CyberSeguridad, .redneuronal{
    
                    border-radius:50%;
                    box-shadow: 0px 0px 5px 5px;
                    
    
    
                }
    
                .gs, .ra, .realidadvirtual, .printing, .criptomonedas, .HTML5, .pwa, .css3{
    
                    border-radius: 25px;
                    box-shadow: 0px 0px 5px 5px;
    
    
                }
                

    
                footer{
    
                    
                    background:  rgb(81, 238, 217);
                    color: #111;
                    clear: both;
                    padding: 10px 0px;
                    font-weight: bold;
                    text-align: center;
                   width: 100%;
                   
                    
                }

                
            
                .git{
                    
                    width: 110px;
                    border-radius: 50%;
                    border-style: outset;
                    

                }
                