*{


margin: 0;
padding: 0;

}

body{

    background:url(../imagenes/fondo.jpg);
    background-size:contain;

}

.main{

width: 80%;

max-width: 1000px;
margin:auto 20px;
background:#fff;
padding: 15px;
text-align: center;

}

.main article{



    
}


