.orange{

background: rgb(214, 84, 24);

}
.blue{

background: rgb(0, 102, 255);

}

.yellow{

background:yellow;

}

.purple
{

background: rgb(128, 52, 214);

}

.darkblue{

background: rgb(154, 220, 241);


}
.lightgreen{

background: grey;

}

.aqua{

background: #85caca;


}
.nocolor{


background:  rgb(172, 180, 248);


}

.gold{

background:rgb(255, 220, 23);



}

.lightblue{

    
    background:#fff;
    
}
.seguridad{

background: rgb(107, 181, 204);

}


.RV{


background: rgb(0, 162, 255);


}

.grey{



color: rgb(41, 40, 40);


}

.rojo{

background:rgb(96, 174, 194);
color:rgb(39, 35, 35);

}

.stuff{

background: rgb(43, 205, 226);


}
.meca{

background:rgb(38, 87, 38);


}



.cincog{

background: rgb(127, 192, 245)

}

a{
font-weight: bold; 
color:rgb(60, 148, 136);

}

a:hover, a:focus {

    color: rgb(89, 255, 233);

}
nav ul li{
text-align: center;
list-style: none;
display: block;
margin: auto;
width: 40%;

}
nav ul li > a{
text-align: center;
text-decoration: none;
color: #111;
padding: 4px;
margin: 10px auto;
border-style: outset;
border-color: rgb(81, 238, 217);
display: block;

}
nav ul li a:hover{

border-style: inset;
color:rgb(81, 238, 217);

}


nav ul li a:focus{

    border-style: inset;
    color:rgb(47, 141, 129);
    
    }